@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(194, 225, 255);
}

h2.appTitle {
  padding-top: 1.5rem;
  text-align: center;
}
